PORT=3000
MONGO_URI=mongodb://localhost:27017/auth_with_passportjs
SESSION_SECRET=your-session-secret
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
FRONTEND_URL=http://localhost:3001
